:root {
	--color-grey-3: #808080;
	--color-grey-2: #c0c0c0;
}

*,
::before,
::after {
	box-sizing: border-box;
	border: 0 solid transparent;
}

body {
	background: white;
	color: black;

	margin: 0;
	padding: 0;
}
